.vscode/
*.zip
Manifest.toml
.ipynb_checkpoints/
dev/
playground/

*.log
*.so
*.dylib
*.dll
*.*-original
*.m

.DS_Store

docs/build/
# pixi environments
.pixi/*
!.pixi/config.toml

coverage-report/
playground/
